.App {
  text-align: center;
}
.container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:20%;
  margin:0 auto;
}
.name h1{
  color:rgb(89, 89, 218);
}

.profile-details{
  margin:10px;
  text-align: left;
  float:left;
}
.profile-details label{
  font-size:14px;
  color:#323234;
}
.profile-details label, .profile-details strong{
  display:block;
}

